<% provide(:title, 'About') %>
<h1>About page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum non accusamus cum. Inventore, alias, excepturi commodi iure provident consequatur neque sed quisquam itaque est perspiciatis modi tempora maiores dolores.</p>