<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptas, repudiandae odio nesciunt provident rerum corporis harum quod earum magni obcaecati dignissimos pariatur velit eum temporibus. Iste fugit quod nihil.</p>